[data-container] {
    width: 41.375rem;
}

[data-decor] {
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-circle] {
    padding: 3.7rem;
    background: #ccc;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

[data-hgroup] {
    margin-left: 2.3rem;
    color: #014d8b;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

[data-form] {
    margin: 0 auto;
    background: #fff;
    padding: 0 2rem;
    margin-top: 2.5rem;
    padding-bottom: .5rem;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    
    &:hover{
        box-shadow: 0 0 .1rem .1rem #ccc;
    }
}

input {
    width: 100%;
    border: .0625rem solid #eee;
    padding: 1rem .5rem;
    font-size: 1.5rem;
}

[data-field] {
    padding-top: 1.5rem;
}

label {
    font-size: 1.5rem;
    color: #5c5c5c;
    display: inline-block;
    margin-bottom: .5rem;
}

input[type=submit] {
    background: #ec008d;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 1.2rem 3rem;
    width: auto;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
}

[data-choice] {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

[data-link] {
    margin-left: auto;
    color: #9b9b9b;
    text-decoration: underline;
    font-size: 1.5rem;
}